
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:500px">
    <img style="width:50%"  src="https://media3.scdn.vn/img4/2021/02_02/JikA6AqzCC55LcNmcHjZ.png" alt="Cart empty" />
    <br />
    <h2 style="align-content:center; margin-left:100px; margin-top:50px">Giỏ hàng đang rỗng</h2>  
    <br />
    <a href="/Product/Index/" class="btn btn-danger" role="button" data-bs-toggle="button" style="margin-left:200px">Mua sắm ngay</a>    
</div>

