
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding: 0px 100px">
    Đơn hàng của quý khách đã được chúng tôi ghi nhận.
    Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.
</h2>
<br />
<p style="padding: 0px 100px">
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>



